{% extends 'base.html' %}
{% load static %}

{% block title %}England - Rugby | Login{% endblock %}

{% block content %}
<h1 class="color">Welcome to The England Rubgy Tournament</h1>


{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}


<img src="{% static 'images/england-rugby.jpg' %}" alt="">


<main class="card-detail-wrapper">
    <div class="container">
        <h1>Edit Comment</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
            <a href="{% url 'tournament-detail' comment.card.pk %}">Cancel</a>
        </form>
    </div>
</main>

<h2 class="return-home">
  <a href="{% url 'index' %}">
    <span>Return home</span>
  </a>
</h2>

{% endblock %}