{% extends 'base.html' %}
{% load static %}

{% block title %}England - Rugby | Login{% endblock %}

{% block content %}
<h1 class="color">Welcome to The England Rubgy Tournament</h1>

<div class="form-map-container">

    <section id="form">
        <form id="contact-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <a>Please enter password</a>
            <button type="submit">Login</button>
        </form>
    </section>
</div>

<h2 class="return-home">
  <a href="{% url 'index' %}">
    <img src="{% static 'images/england-rugby.jpg' %}" alt="">
    <span>Return home</span>
  </a>
</h2>


<p class="color">This is the login page. More content will go here.</p>
{% endblock %}