{% extends 'base.html' %}
{% load static %}

{% block title %}England - Rugby | Tournament{% endblock %}

{% block content %}
<h1 class="color">Welcome to The England Rubgy Tournament</h1>
<h2 class="return-home">
  <a href="{% url 'index' %}">
    <img src="{% static 'images/england-rugby.jpg' %}" alt="">
    <span>Return home</span>
  </a>
</h2>

<!-- CARD-->
<div class="grid-container">
  <div class="grid">
    <img src="{% static 'images/bus-tour.jpg' %}" alt="'" class="grid-img">
  </div>
  <div class="grid">
    <img src="{% static 'images/with-queen.jpg' %}" alt="" class="grid-img">
  </div>
  <div class="grid">
    <img src="{% static 'images/squad-pic2.png' %}" alt="" class="grid-img">
  </div>
</div>
{% endblock %}